.chat-main {
  box-sizing: border-box;
  height: 100vh;
  width: calc(100vw - 300px);
  float: left;
  &__header {
    height: 99px;
    border-bottom: solid 1px #eeeeee;
    padding: 0 40px;
    &--name {
      font-size: 20px;
      color: #333333;
      padding: 35px 0 15px 0;
      float: left;
    }
    &--edit-btn {
      height: 40px;
      line-height: 40px;
      color: #38AEF0;
      padding: 0 20px;
      margin-top: 28px;
      border: solid 1px #38AEF0;
      float: right;
    }
    &--members {
      font-size: 12px;
      color: #999999;
      clear: both;
    }
  }
  // ここまでヘッダー
  // ここからボディ
  &__body {
    height: calc(100vh - 190px);
    padding: 0 40px;
    overflow: scroll;
    &--name {
      font-size: 16px;
      font-weight: bold;
      color: #434A54;
      padding: 46px 10px 10px 0;
      display: inline-block;
    }
    &--date {
      font-size: 12px;
      color: #999999;
      display: inline-block;
    }
    &--message {
      font-size: 14px;
      color: #434A54;
    }
  }
  // ここまでボディ
  // ここからフッター
  &__footer {
    height: 90px;
    padding: 0 40px;
    background-color: #B8C3C7;
    position: relative;
    &-message {
      font-size: 16px;
      box-sizing: border-box;
      height: 50px;
      width: calc(100vw - 485px);
      padding: 15px 10px;
      background-color: white;
      border: none;
      position: absolute;
      top: 20px;
      &--image {
        position: absolute;
          left: 403px;
          top: 17px;
        .file {
          display: none;
        }
      }
    }
    &--send {
      width: 100px;
      height: 50px;
      color: white;
      text-align: center;
      background-color: #38AEF0;
      margin: 0 0 0 15px;
      position: absolute;
      top: 20px;
      right: 40px;
    }
  }
}
